
    <h1>Eat the burger!</h1>
    <img id="burgerPic" src="../public/assets/images/burger.jpg">

    <div id="edible">
        <h3>Burgers that can be eaten:</h3>
        <ul>
            {{#each burger}}
                {{#unless this.devoured}}
            <li>
                {{this.id}}/ {{this.burger_name}}
                {{/unless}}
            {{/each}}
                <form>
                    <input type="text">
                    <button type="submit">Eat me!</button>
                </form>
            </li>
        </ul>
    </div>